<tr class="<%= cycle("even", "odd") %>">
  <td class="one"><%= link_to truncate(problem.title, :length => 18), problem %></td>
  <td class="two"><%= truncate(problem.problem, :length => 90) %></td>
  <td class="three"><%= conv(problem.deadline) %></td>

  <% if can? :update, Problem %>
      <td class="change"><%= link_to image_tag('edit-icon.png'), edit_problem_path(problem) %></td>
      <td class="delete"><%= link_to image_tag('delete-icon.png'), problem, :confirm => 'Вы уверены?', :method => :delete %></td>
  <% end %>
  <% if (can? :create, Solution) && (my_sol_count(problem) == 0) %>
      <td class="solve"><%= link_to image_tag('solve-icon.png'), new_problem_solution_path(problem) %></td>
  <% end %>
  <% if (can? :create, Problem) %>
      <td class="solutions"><%= link_to image_tag('solutions-icon.png'), problem_solutions_path(problem) %></td>
  <% end %>

</tr>