<p id="notice"><%= notice %></p>

<p>
  <b>Название:</b>
  <%= @problem.title %>
</p>

<p>
  <b>Задача:</b>
  <%= @problem.problem %>
</p>

<p>
  <b>Баллы:</b>
  <%= @problem.points %>
</p>

<p>
  <b>Срок сдачи:</b>
  <%= @problem.deadline %>
</p>
<% if (can? :create, Solution) && (my_sol_count(@problem) == 0) %>
    <%= link_to "Решить", new_problem_solution_path(@problem) %>
<% end %>
<h2>Файлы:</h2>
<% @problem.attaches.each do |at| %>
    <%= at.name %> <%= link_to "Загрузить", at.upfile.url(:original, false) %><br>
<% end %>


<%= link_to 'Изменить', edit_problem_path(@problem) %> |
<%= link_to 'К списку задач', problems_path %>
