<p id="notice"><%= notice %></p>

<p>
  <b>Название:</b>
  <%= @problem.title %>
</p>

<p>
  <b>Задача:</b>
  <%= @problem.problem %>
</p>

<p>
  <b>Баллы:</b>
  <%= @problem.points %>
</p>

<p>
  <b>Срок сдачи:</b>
  <%= @problem.deadline %>
</p>

<%= link_to "Решить",  new_problem_solution_path(@problem) %>

<h2>Files:</h2>
<% @problem.attaches.each do |at| %>
    <%= at.name %> <%= link_to "Загрузить",  at.upfile.url(:original, false) %><br>
<% end %>


<%= link_to 'Изменить', edit_problem_path(@problem) %> |
<%= link_to 'К списку задач', problems_path %>
