<%= nested_form_for(@post, :html => {:multipart => true}) do |f| %>
    <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
            <% @post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div class="field">
      <%= f.label :Название %>
      <br/>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :Сообщение %>
      <br/>
      <%= f.text_area :body %>
    </div>
    <% if can? :update, @post %>
        <div class="field">
          <%= f.label :Новость %>
          <br/>
          <%= f.check_box :news %>
        </div>
    <% end %>
    <div class="field">
      <%= f.label "Разрешить комментарии" %>
      <br/>
      <%= f.check_box :commentable %>
    </div>
    <%= f.fields_for :attaches do |at| %>
        Название: <%= at.text_field :name %>
        <%= at.file_field :upfile %>
        <%= at.link_to_remove "Удалить файл" %>
    <% end %>
    <%= f.link_to_add "Добавить файл", :attaches %>
    <div class="actions">
      <%= f.submit "Отправить" %>
    </div>
<% end %>
