<% @posts.each do |post| %>
    <div class="news">
      <h3 class="new-title"><%= post.title %></h3>

      <div class="time">
        <div class="author">Автор: <%= post.user.last_name + " " %><%= post.user.first_name %></div>
        <%= posttime(post.created_at) %>
        <% if post.comments.count != 0 %>
            <div class="comment-count"><%= post.comments.count %></div>
        <% end %>
      </div>

      <div class="body"><%= truncate(post.body, :length => 800) %>
        <%= link_to 'Показать', post %>
        <% if can? :update, post %>
            <%= link_to 'Изменить', edit_post_path(post) %>
            <%= link_to 'Удалить', post, :confirm => 'Вы уверены?', :method => :delete %>
        <% end %>
      </div>
    </div>
<% end %>