<p class="notice"><%= notice %></p>

<p>
<h3><%= @post.title %></h3>
</p>

<p>
  <%= @post.body %>
</p>

<% if @post.commentable %>
    <br>
    <h3>Комментарии</h3>
    <%= render @post.comments %>
    <br>
    <% if can? :create, Comment %>
        <%= render "comments/form" %>
    <% end %>
<% end %><br>
<h3>Файлы:</h3>
<% @post.attaches.each do |at| %>
    <%= at.name %> <%= link_to "Загрузить", at.upfile.url(:original, false) %><br>
<% end %>

<br/>
<% if can? :update, Post %>
    <%= link_to 'Изменить', edit_post_path(@post) %>
    <br>
<% end %>
<%= link_to 'Назад к сообщениям', posts_path %>