<p class="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Content:</b>
  <%= @post.body %>
</p>
<% if @post.commentable %>
    <h2>Комментарии</h2>
    <%= render @post.comments %>

    <% if can? :create, Comment %>
        <%= render "comments/form" %>
    <% end %>
<% end %>
<h2>Файлы:</h2>
<% @post.attaches.each do |at| %>
    <%= at.name %> <%= link_to "Загрузить", at.upfile.url(:original, false) %><br>
<% end %>

<br/>
<% if can? :update, Post %>
    <%= link_to 'Изменить', edit_post_path(@post) %>
    <br>
<% end %>
<%= link_to 'Назад к сообщениям', posts_path %>