<%= nested_form_for([@problem, @solution]) do |f| %>
    <% if @solution.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@solution.errors.count, "error") %> prohibited this solution from being saved:</h2>
          <ul>
            <% @solution.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <p>problem: <%= @problem.title %><p>
    <div class="field">
      <%= f.label :Решение %>
      <br/>
      <%= f.text_area :solution %>
    </div>
    <%= f.fields_for :attaches do |at| %>
        Название: <%= at.text_field :name %>
        <%= at.file_field :upfile %>
        <%= at.link_to_remove "Удалить файл" %>
    <% end %>
    <%= f.link_to_add "Добавить файл", :attaches %>
    <div class="actions">
      <%= f.submit "Отправить решение" %>
    </div>
<% end %>
