<p>
  <b>Cтудент:</b>
  <%= @solution.user.first_name + " " + @solution.user.last_name %>
</p>

<p>
  <b>Задача:</b>
  <%= @problem.title %><br>
  <%= @problem.problem %>
</p>
<p>
  <b>Максимальный балл за задачу:</b>
  <%= @problem.points %>
</p>

<p>
  <b>Статус:</b>
  <%= @solution.result %>
</p>

<p>
  <b>Решение:</b>
<pre><%= @solution.solution %></pre>
</p>

<% unless @solution.points.nil? %>
    <p>
      <b>Баллы:</b>
      <%= @solution.points %>
    </p>
<% end %>

<% if @solution.attaches.count != 0 %>
    <h4>Files:</h4>
    <% @solution.attaches.each do |at| %>
        <%= at.name %> <%= link_to "Загрузить", at.upfile.url(:original, false) %><br>
    <% end %>
<% end %>

<% if current_user.role == "admin" %>
    <%= form_for [@problem, @solution] do |f| %>
        <%= f.hidden_field :lock_version %>
        <%= f.select(:result,
                     [['не проверено', 'не проверено'], ['не компилируется', 'не компилируется'], ['списано(?)', 'списано(?)'], ['неверно(?)', 'неверно(?)'], ['зачтено', 'зачтено']]) %>
        <div class="field">
          <%= f.label :Баллы %>
          <br/>
          <%= f.text_field :points, :size => 2 %>
        </div>
        <div class="field">
          <%= f.label :Комментарий %>
          <br/>
          <%= f.text_area :outcome, :cols => 60, :rows => "10" %>
        </div>
        <div class="actions">
          <%= f.submit "Подтвердить" %>
        </div>
    <% end %>
<% elsif !(@solution.outcome.nil?) && @solution.outcome != "" %>
    <p><b>Комментарий:</b> <%= @solution.outcome %></p>
<% end %>

<% if @solution.result != "зачтено" %>
    <%= link_to 'Изменить', edit_problem_solution_path(@problem, @solution) %>
<% end %>