<h1>Listing solutions</h1>

<table>
  <tr>
    <th>User</th>
    <th>Problem</th>
    <th>Solution</th>
    <th>Verified</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @solutions.each do |solution| %>
  <tr>
    <td><%= solution.user_id %></td>
    <td><%= solution.problem_id %></td>
    <td><%= solution.solution %></td>
    <td><%= solution.verified %></td>
    <td><%= link_to 'Show', problem_solution_path(@problem, solution) %></td>
    <td><%= link_to 'Edit', edit_problem_solution_path(@problem, solution) %></td>
    <td><%= link_to 'Destroy', problem_solutions_path(@problem) , :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Solution', new_problem_solution_path %> |
<%= link_to 'Problems', problems_path %>
