<h1>Мои решения</h1>

<table>
  <tr>
    <th>Задача</th>
    <th>Решение</th>
    <th>Статус</th>
  </tr>

<% @solutions.each do |solution| %>
      <tr>
        <td><%= solution.problem.title %></td>
        <td><%= solution.solution %></td>
        <td>
          <% if solution.verified %>
              <%= "Зачтено" %>
          <% else %>
              <%= "Не зачтено" %>
          <% end %>
        </td>
        <td><%= link_to 'Показать', problem_solution_path(solution.problem, solution) %></td>
        <td><%= link_to 'Изменить', edit_problem_solution_path(solution.problem, solution) %></td>
        <td><%= link_to 'Удалить', problem_solutions_path(@problem), :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
  <% end %>
</table>

<br />