<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @solution.user_id %>
</p>

<p>
  <b>Problem:</b>
  <%= @solution.problem_id %>
  <%= @problem.title %><br>
  <%= @problem.problem %>
</p>

<p>
  <b>Solution:</b>
  <%= @solution.solution %>
</p>
<p>
  <b>Verified:</b>
  <%= @solution.verified %>
</p>

<h2>Files:</h2>
<% @solution.attaches.each do |at| %>
    <%= at.name %> <%= link_to "Download", at.upfile.url(:original, false) %><br>
<% end %>

<%= form_for [@problem, @solution] do |f| %>
    <%= f.select(:result, [['не компилируется', 'не компилируется'], ['списано', 'списано'], ['неверно', 'неверно'], ['зачтено', 'зачтено']]) %>

    <div class="actions">
      <%= f.submit "Submit" %>
    </div>
<% end %>

<%= link_to 'Edit', edit_problem_solution_path(@problem, @solution) %> |
<%= link_to 'Back', problem_solutions_path %>
