<!DOCTYPE html>
<html>
<head>
  <title>Сайт спецкурса по С++</title>
  <% if false %>
      <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.8/themes/ui-lightness/jquery-ui.css", "application" %>
  <% end %>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag 'jquery', 'nested_form', "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.8/jquery-ui.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="images">
</div>
<div id="user_nav">
  <% if user_signed_in? %>
      <p>Вы авторизованы как <%= current_user.email %>. Не Вы?
        <%= link_to "Выйти", destroy_user_session_path %></p>

      <p>Количество баллов:
        <%= current_user.points %></p>

      <p>Количество непроверенных решений:
        <% unless @solutions.nil? %>
            <%= @solutions.count %>
        <% else %>0
        <% end %></p>
  <% else %>
      <%= link_to "Зарегистрироваться", new_user_registration_path %>
      or <%= link_to "Войти", new_user_session_path %>
  <% end %>
</div>

<div id="right-menu">
  <p><%= link_to "Все задачи", problems_path %></p>
  <% if user_signed_in? && current_user.role == "student" %>
      <p><%= link_to "Мои решения", solutions_mine_path %></p>
  <% end %>
  <p><%= link_to "Таблица баллов", users_path %></p>

  <p><%= link_to "Новости", news_path %></p>

  <p><%= link_to "Сообщения", posts_path %></p>

  <% if can? :create, Post %>
      <%= link_to 'Новое сообщение', new_post_path %>
  <% end %>

  <% if can? :create, Problem %>
      <p><%= link_to "Добавить задачу", new_problem_path %></p>

      <p><%= link_to "Непроверенные решения", solutions_unverified_path %></p>

      <p><%= link_to "Все решения", solutions_path %></p>
  <% end %>
</div>

<div id="yield">
  <%= yield %>
</div>

</body>
</html>
